.blog-navbar {
    margin-bottom: 0px;
    border: 0px;

    background-color: #202020;
    border-color: #080808;
    color: #f0f0f0;
}

.blog-navbar a {
    color: #f0f0f0;
}

.blog-nav>li>a:hover, .blog-nav>li>a:focus {
    background-color: #F7C90E;
    color: #f0f0f0;
}

.blog-navbar .navbar-toggle .icon-bar {
    background-color: #f0f0f0;
}

.blog-header {
    background-color: #b81d18;

    padding: 10px;

    text-align: center;    
    font-size: 24px;
    color: #f0f0f0;
}

.blog-header h1 {
    font-size: 60px;
}

.blog-star {
    color: #F7C90E;
}

.blog-content {
    margin-top: 40px;
}

.blog-post {
    padding-top: 10px;
}

body {
    word-wrap: break-word;
}

h1.blog-title {
}

h1.blog-title>a {
    color: inherit;
}

h1.blog-title>a:hover, h1.blog-title>a:focus {
    color: #B81D18;
    text-decoration: inherit;
}

p.blog-author-text {
    margin-bottom: 0px;
    color: #D73436;
}

p.blog-datetime-text {
    color: #999;
}

.blog-post-excerpt {
    max-height: 300px;
    overflow: hidden;
    text-align: justify;
    padding-right: 20px; // a workaround for incorrect Vietnamese word wrapping
}

.blog-body {
    text-align: justify;
}

footer.blog-footer {
    text-align: center;
}

.blog-saved-list {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

#body {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
